h1, h2{
    text-align: center;
    padding: 15px 0 15px;
}
main{
    display: flex;
}
#menu{
    flex: 1;
}
#firstcolumn,#secondcolumn{
    flex: 6;
}
#vide{
    flex:0.5;
}
article{
    background: lightgray;
    border-radius: 15px;
    padding-bottom: 20px;
}

#carre{
    height: 100px;
    width: 100px;
    margin: auto;
    animation-name: carrequitourne;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes carrequitourne {
    from{
        transform: rotate(0deg);
        background-color: yellow;
    }
    to{
        transform: rotate(360deg);
        background-color: red;
    }
}
#tube{
    border: 1px green solid;
    height: 150px;
    width: 40px;
    margin: auto;
}
#balle{
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation-name: ballequirebondit;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes ballequirebondit {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(110px)
    }
    40%{
        transform: translateY(40px)
    }
    60%{
        transform: translateY(110px)
    }
    80%{
        transform: translateY(80px)
    }
    90%{
        transform: translateY(110px);
    }
    100%{
        transform: translateY(110px);
    }
}
#menu div{
        background-color: #2f2f2f;
        color: white;
        text-align: center;
        height: 20px;
        border-radius: 15px;
        transition: height 3s;
    }
#menu div:hover{
        height: 800px;
    }
