h1, h2{
    text-align: center;
    padding: 15px 0 15px;
}
main{
    display: flex;
}
#menu{
    flex: 1;
}
#firstcolumn,#secondcolumn{
    flex: 6;
}
#vide{
    flex:0.5;
}
article{
    background: lightgray;
    border-radius: 15px;
    padding-bottom: 20px;
}

#carre{
    height: 100px;
    width: 100px;
    margin: auto;
    animation-name: carrequitourne;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes carrequitourne {
    from{
        transform: rotate(0deg);
        background-color: yellow;
    }
    to{
        transform: rotate(360deg);
        background-color: red;
    }
}
#tube{
    border: 1px green solid;
    height: 150px;
    width: 40px;
    margin: auto;
}
#balle{
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation-name: ballequirebondit;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes ballequirebondit {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(110px)
    }
    40%{
        transform: translateY(40px)
    }
    60%{
        transform: translateY(110px)
    }
    80%{
        transform: translateY(80px)
    }
    90%{
        transform: translateY(110px);
    }
    100%{
        transform: translateY(110px);
    }
}
#menu div{
        background-color: #2f2f2f;
        color: white;
        text-align: center;
        height: 20px;
        border-radius: 15px;
        transition: height 3s;
    }
#menu div:hover{
        height: 800px;
    }
#loading{
        display: flex;
        margin: auto;
        justify-content: center;
    }
.boule{
        margin: 50px 0;
        border: 2px solid black;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        animation-name: chargeboule;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        background-color: black;
}
    
@keyframes chargeboule {
    from{
        background-color: black;
    }
    to{
        background-color: white;
    }
}
.boule:nth-child(2){
    animation-delay: 1s;
}
.boule:nth-child(3){
    animation-delay: 2s;
}
#queue{
    position: relative;
    height: 300px;
    box-sizing: border-box;
}
#queue div{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 15px;
    border: 1px solid;
    text-align: center;
    margin: 0px 15px 15px;
    animation-name: queuleuleu;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
}
@keyframes queuleuleu {
    0%{
        transform: rotate(360deg);
        background-color :green;
        top: 0px;
        left: -2%; 
    }
    25%{
        background-color: lightblue;
        top:0;
        left:94%;
    }
    50%{
        background-color: red;
        top:94%;
        left: 94%;
    }
    75%{
        background-color: orange;
        top:94%;
        left: -2%;
    }
    100%{
        background-color :green;
        top: 0px;
        left: -2%; 
    }
}

#queue div:nth-child(2){
    animation-delay: 1s;
}
#queue div:nth-child(3){
    animation-delay: 2s;
}
#queue div:nth-child(4){
    animation-delay: 3s;
}
#queue div:nth-child(5){
    animation-delay: 4s;
}
#queue div:nth-child(6){
    animation-delay: 5s;
}