/* ~~~~~~~~~~~~~~~~~~~~~~~~ Mise en page ~~~~~~~~~~~~~~~~~~~~~~~~ */
h1, h2{
    text-align: center;
    padding: 15px 0 15px;
}
main{
    display: flex;
}
#menu{
    flex: 1;
}
#firstcolumn,#secondcolumn{
    flex: 6;
}
#vide{
    flex:0.5;
}
article{
    background: lightgray;
    border-radius: 15px;
    padding-bottom: 20px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Exercice 1 : Carré ~~~~~~~~~~~~~~~~~~~~~~~~ */
#carre{
    height: 100px;
    width: 100px;
    margin: auto;
    animation-name: carrequitourne;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes carrequitourne {
    from{
        transform: rotate(0deg);
        background-color: yellow;
    }
    to{
        transform: rotate(360deg);
        background-color: red;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Exercice 2 : Balle ~~~~~~~~~~~~~~~~~~~~~~~~ */
#tube{
    border: 1px green solid;
    height: 150px;
    width: 40px;
    margin: auto;
}
#balle{
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation-name: ballequirebondit;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes ballequirebondit {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(110px)
    }
    40%{
        transform: translateY(40px)
    }
    60%{
        transform: translateY(110px)
    }
    80%{
        transform: translateY(80px)
    }
    90%{
        transform: translateY(110px);
    }
    100%{
        transform: translateY(110px);
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Exercice 3 Menu ~~~~~~~~~~~~~~~~~~~~~~~~ */
#menu div{
        background-color: #2f2f2f;
        color: white;
        text-align: center;
        height: 20px;
        border-radius: 15px;
        transition: height 3s;
    }
#menu div:hover{
        height: 800px;
    }
#loading{
        display: flex;
        margin: auto;
        justify-content: center;
    }
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Exercice 4 Loader ~~~~~~~~~~~~~~~~~~~~~~~~ */
.boule{
        margin: 50px 0;
        border: 2px solid black;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        animation-name: chargeboule;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        background-color: black;
}
    
@keyframes chargeboule {
    from{
        background-color: black;
    }
    to{
        background-color: white;
    }
}
.boule:nth-child(2){
    animation-delay: 1s;
}
.boule:nth-child(3){
    animation-delay: 2s;
}
#queue{
    position: relative;
    height: 300px;
    box-sizing: border-box;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Exercice 5 Faire la queue ~~~~~~~~~~~~~~~~~~~~~~~~ */
#queue div{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 15px;
    border: 1px solid;
    text-align: center;
    margin: 0px 15px 15px;
    animation-name: queuleuleu;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
}
@keyframes queuleuleu {
    0%{
        transform: rotate(360deg);
        background-color :green;
        top: 0px;
        left: -2%; 
    }
    25%{
        background-color: lightblue;
        top:0;
        left:94%;
    }
    50%{
        background-color: red;
        top:94%;
        left: 94%;
    }
    75%{
        background-color: orange;
        top:94%;
        left: -2%;
    }
    100%{
        background-color :green;
        top: 0px;
        left: -2%; 
    }
}

#queue div:nth-child(2){
    animation-delay: 1s;
}
#queue div:nth-child(3){
    animation-delay: 2s;
}
#queue div:nth-child(4){
    animation-delay: 3s;
}
#queue div:nth-child(5){
    animation-delay: 4s;
}
#queue div:nth-child(6){
    animation-delay: 5s;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~ Exercice 6 Carousel ~~~~~~~~~~~~~~~~~~~~~~~~ */
#rotate{
    position: relative;
    height:400px;
}
#rotate div{
    position: absolute;
    width: 15px;
    height: 15px;
   
}
.content{
    perspective: 500px;
    position: absolute;
    transform-style: preserve-3d;
    animation-name: carousalé;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.content div {
     border: 2px solid;
     border-radius: 5px;
}
#carousel1{
    transform: rotateY(40deg) translateZ(60px);
    background-color: rgb(145, 224, 250);
 }
#carousel2{
    transform: rotateY(80deg) translateZ(60px);
    background-color: lightslategray
}
#carousel3{
    transform: rotateY(120deg) translateZ(60px);
    background-color: blanchedalmond;
}
#carousel4{
    transform: rotateY(160deg) translateZ(60px);
    background-color: lightcoral;
}
#carousel5{
    transform: rotateY(200deg) translateZ(60px);
    background-color: lightpink;
}
#carousel6{
    transform: rotateY(240deg) translateZ(60px);
    background-color: lightsalmon;
}
#carousel7{
    transform: rotateY(280deg) translateZ(60px);
    background-color: lightseagreen;
}
#carousel8{
    transform: rotateY(320deg) translateZ(60px);
    background-color: palegoldenrod;
}
#carousel9{
    transform: rotateY(360deg) translateZ(60px);
    background-color: palevioletred;
}

@keyframes carousalé {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
        top: 15%;
        left: 10%;
    }
    25%{
        transform: rotateX(80deg) rotateY(80deg);
        top: 15%;
        left: 85%;
    }
    50%{
        transform: rotateX(160deg) rotateY(160deg);
        top: 85%;
        left: 85%;
    }
    75%{
        transform: rotateX(240deg) rotateY(240deg);
        top: 85%;
        left: 10%;
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
        top: 15%;
        left:10%;
    }
}